/* little reset */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(16, 0, 34);
}

.timeline-wrapper {
    width: 100%;
    padding: 20px;
}

.section {
    position: relative;
    display: grid;
    width: 100%;
    height: fit-content;
    margin: 0 20px;
}

.section-done {
    background: linear-gradient(0deg, rgba(173, 7, 201, 1) 0%, rgba(253, 62, 129, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
}

.section-tasks {
    color: #FFF;
}

.timeline {
    position: absolute;
    top: 5px;
    bottom: 0;
}

.timeline__tasks {
    background-color: transparent;
    border-left: 2px dashed rgb(165, 165, 165);
}


/* color-for-timeline */

.timeline__done {
    background: linear-gradient(0deg, rgba(173, 7, 201, 1) 0%, rgba(173, 7, 201, 1) 0%, rgba(253, 62, 129, 1)100%);
    width: 2px;
    -webkit-box-decoration-break: clone;
}

.timeline__tasks::after {
    position: absolute;
    bottom: -10px;
    left: -6px;
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid rgb(255 255 255);
}

.line {
    display: flex;
    margin-left: -1px;
    min-height: 25px;
    margin-bottom: 20px;
    justify-content: flex-start;
}

.text-year {
    font-weight: bold;
    font-size: 16px;
}

.icon-lg {
    width: 20px;
    height: 20px;
    margin: -3px 15px 0 -8px;
    z-index: 1;
}

.icon-sm {
    width: 10px;
    height: 10px;
    margin: 5px 15px 0 -3px;
    z-index: 1;
}

.icon-md {
    width: 14px;
    height: 14px;
    margin: 5px 15px 0 -5px;
    z-index: 1;
}

@media (min-width: 400px) {
    .section {
        padding-top: 5px;
        grid-template-columns: 1fr;
    }
    .line {
        width: 100%;
    }
    .line.one>span {
        font-size: 16px;
    }
    .timeline {
        left: 50%;
        right: 50%;
        transform: translate(-50%);
    }
    .line:nth-child(odd) {
        padding-left: 50%;
        margin-left: -2px;
    }
    .line:nth-child(even) {
        padding-right: 50%;
        justify-content: flex-end;
    }
    .line:nth-child(even)>img {
        order: 2;
    }
    .line:nth-child(even)>.icon-sm {
        margin-right: -6px;
    }
    .line:nth-child(even)>.icon-md {
        margin-right: -8px;
        margin-top: 0;
    }
    .line:nth-child(even)>.icon-lg {
        margin-right: -11px;
    }
    .line:nth-child(even)>span {
        margin-right: 20px;
    }
    /* LEFT */
    .line.left {
        padding: 0 50% 0 0;
        justify-content: flex-end;
    }
    .line.left>.icon-sm {
        margin-right: -7px;
        margin-top: 3px;
        order: 2;
    }
    .line.left>.icon-md {
        margin-right: -9px;
        margin-top: 2px;
        order: 2;
    }
    .line.left>.icon-lg {
        margin-right: -12px;
        margin-top: 3px;
        order: 2;
    }
    .line.left>span {
        padding-right: 20px;
    }
    /* RIGHT */
    .line.right {
        padding: 0 0 0 50%;
        justify-content: flex-start;
    }
    .line.right>.icon-sm {
        margin: 0 13px 0 -4px;
    }
    .line.right>.icon-md {
        margin: 0 13px 0 -6px;
    }
    .line.right>.icon-lg {
        margin: 0 13px 0 -9px;
    }
    .line.right>span {
        order: 2;
    }
}