body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section {
    /* width: 85%; */
    position: relative;
    display: flex;
    flex-direction: column;
}

.line {
    width: 50%;
    position: relative;
    padding: 20px;
    background-color: lightgoldenrodyellow;
}

@media (min-width: 700px) {
    .line:nth-child(odd) {
        /* text-align: left; */
        /* align-self: flex-end; */
        float: left;
        clear: both;
    }
    .line:nth-child(even) {
        /* text-align: right; */
        float: right;
        clear: both;
    }
    .section::before {
        content: '';
        width: 1px;
        height: 100%;
        background: white;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}